services:
  # The Backend API (Your Code)
  api:
    build: .
    ports:
      - '3000:3000' # Maps laptop port 3000 to container port 3000
    environment:
      DB_HOST: postgres_db
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_PORT: 5432
      JWT_SECRET: ${JWT_SECRET}
      RECAPTCHA_SECRET_KEY: ${RECAPTCHA_SECRET_KEY}
      ENABLE_RECAPTCHA: ${ENABLE_RECAPTCHA}
    restart: on-failure
    depends_on:
      postgres_db:
        condition: service_healthy

  # The Database (The Vault)
  postgres_db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data # Persistence (Data survives restart)
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER} -d ${DB_NAME}']
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pg_data:
